body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}
#searchInput {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

#introSection {
    max-width: 1000px;
    margin: 20px 20px;
    padding: 15px 20px;
    background-color: #f4f7fb;
    border-left: 5px solid #bd1919;
    font-size: 15px;
    line-height: 1.6;
    text-align: left; 
}

#introSection a {
    color: #bd1919;
    text-decoration: none;
    font-weight: bold;
}

#introSection a:hover {
    text-decoration: underline;
}


#searchInstructions {
    text-align: center;
    max-width: 800px;
    margin: 10px auto 20px auto;
    font-size: 14px;
    color: #444;
    line-height: 1.5;
}

#instructionsBox h2 {
    margin-top: 0;
    font-size: 1.2em;
}

#instructionsBox p {
    margin: 5px 0;
    font-size: 0.7em;
}

.keyword-title {
    text-align: center;
    color: blue;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

#citationBlock {
    max-width: 900px;
    margin: 10px 20px;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-left: 4px solid #bd1919;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

#citationBlock a {
    color: #bd1919;
    text-decoration: none;
    font-weight: bold;
}

#citationBlock a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.sortable {
    cursor: pointer;
}

.search-container button {
    padding: 8px 12px;       /* slightly smaller top/bottom and left/right for better alignment */
    margin-left: 5px;        /* space between buttons */
    font-size: 14px;         
    height: 36px;            /* match the height of the search input */
    line-height: 1;          /* ensure text is vertically centered */
    cursor: pointer;
    border: none;
    background-color: #bd1919;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;  /* ensures padding doesn't increase total width */
}

.search-container button:hover {
    background-color: #8f1414;
}

.sortable:hover {
    background-color: #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #bd1919;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
#headerImage {
    display: block;
    margin: 10 auto 20px; 
    max-width: 50%;      
    height: auto;        
}

footer {
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #555;
}
footer p {
    margin: 0;
}









